*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #24303c;
    font-family: 'calibri';
}

.header{
    height: 100px;
    background-color: #1f53c5;
}
.header h1{
    color: white;
    padding-top: 20px; 
    text-align: center;
}

.main h3{
    color: white;
    text-align: center;
}
.main h4{
    color: white;
    text-align: center;
}
.card{
    background-color: #24303c;
    margin: 5px;
}
.card-header{
    text-align: center;
    background-color: #1f53c5;   
}
.card-body{
    text-align: center;
}

.totales{
    display: flex;
    justify-content: space-evenly;
}

.formulario{
    display: flex;
    flex-wrap: wrap;
    background: #24303c;
    margin: 25px 10px auto 10px;
}

.form-select input{
    font-size: 18px;
    color: white;
    background: #24303c;
    width: 95%;
    padding: 10px;
    border-radius: 4px;
    margin: 5px;
    border: 1px solid #1f53c5 ;
}
.form-group input{
    font-size: 18px;
    color: white;
    background: #24303c;
    width: 95%;
    padding: 10px;
    border-radius: 4px;
    margin: 5px;
    border: 1px solid #1f53c5 ;
}
.form-group label{
    font-size: 18px;
    color: white;
    margin: 20px 0 0 20px;
}

.form-group select{
    font-size: 18px;
    color: white;
    background: #24303c;
    width: 95%;
    padding: 10px;
    border-radius: 4px;
    margin: 10px;
    border: 1px solid #1f53c5 ;
}

.form-buttons a{
    width: 95%;
    font-size: 16px;
    background: #1f53c5;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin: 10px;
}
.form-buttons button{
    width: 95%;
    font-size: 16px;
    background: #1f53c5;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin: 10px;
}

tbody, td, tfoot, th, thead, tr{
    color: white;
    text-align: center;
}
