*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #24303c !important;
    font-family: 'calibri';
}

.header{
    height: 100px;
    background-color: #1f53c5;
}
.header h1{
    color: white;
    padding: 20px;
    text-align: center;
}

.main h3{
    color: white;
    text-align: center;
    padding: 30PX 10PX 10PX 10px;
}


.formulario{
    display: flex;
    flex-wrap: wrap;
    background: #24303c;
    margin: 25px 10px auto 10px;
}

.field-datos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.field-totales{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.field-botones{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.legend{
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-top: 50px;
}

.form-group input{
    font-size: 18px;
    color: white;
    background: #24303c;
    width: 400px;
    padding: 10px;
    border-radius: 4px;
    margin: 16px;
    border: 1px solid #1f53c5 ;
}
.form-group label{
    font-size: 18px;
    color: white;
    margin: 20px 0 0 20px;
}

.form-buttons a{
    width: 400px;
    font-size: 16px;
    background: #1f53c5;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin: 16px;
}

.div-leyenda{
    width: 100%;
    font-size: 50px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}

tbody, td, tfoot, th, thead, tr{
    color: white;
    text-align: center;
}

.table{
    color: white !important;
    padding-bottom: 50px;
}

.table-striped>tbody>tr:nth-of-type(odd)>*{
    color: white !important;
    text-align: center;
}